PK=YOUR_PK
MUMBAI_RPC_URL=https://rpc-mumbai.matic.today
PROFILE_ID=PROFILE_ID
LENS_API=https://api-mumbai.lens.dev/
USE_GASLESS=false
# only required if you're using gasless
ORIGIN=https://your-whitelisted-domain.com

# Check the address provided here : https://docs.lens.dev/docs/testnet-addresses
LENS_HUB_CONTRACT=0x60Ae865ee4C725cd04353b5AAb364553f56ceF82
LENS_TOKEN_HANDLE_REGISTRY_CONTRACT=0xC32AAEC41420F4d569D97919a82697AF6Db5d02F

INFURA_PROJECT_ID=YOUR_PROJECT_ID
INFURA_SECRET=YOUR_SECRET